{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>profito</title>
	<meta name="description" content="Cardio is a free one page template made exclusively for Codrops by Luka Cvetinovic" />
	<meta name="keywords" content="html template, css, free, one page, gym, fitness, web design" />
	<meta name="author" content="Luka Cvetinovic for Codrops" />
	<!-- Favicons (created with http://realfavicongenerator.net/)-->
	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'profito/img/favicons/apple-touch-icon-57x57.png' %}">
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'profito/img/favicons/apple-touch-icon-60x60.png' %}">
	<link rel="icon" type="image/png" href="{% static 'profito/img/favicons/favicon-32x32.png' %}" sizes="32x32">
	<link rel="icon" type="image/png" href="{% static 'profito/img/favicons/favicon-16x16.png' %}" sizes="16x16">
	<link rel="manifest" href="{% static 'profito/img/favicons/manifessett.json' %}">
	<link rel="shortcut icon" href="{% static 'profito/img/favicons/favicon.ico' %}">
	<meta name="msapplication-TileColor" content="#00a8ff">
	<meta name="msapplication-config" content="{% static 'profito/img/favicons/browserconfig.xml' %}">
	<meta name="theme-color" content="#ffffff">


	<!--for facebook sharing api-->
	<meta property="og:url" content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="When Great Minds Don’t Think Alike" />
	<meta property="og:description" content="How much does culture influence creative thinking?" />
	<meta property="og:image" content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />



	<!-- Normalize -->
	<link rel="stylesheet" type="text/css" href="{% static 'profito/css/normalize.css' %}">
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="{% static 'profito/css/bootstrap.css' %}">
	<!-- Owl -->
	<link rel="stylesheet" type="text/css" href="{% static 'profito/css/owl.css' %}">
	<!-- Animate.css -->
	<link rel="stylesheet" type="text/css" href="{% static 'profito/css/animate.css' %}">
	<!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" href="{% static 'profito/fonts/font-awesome-4.1.0/css/font-awesome.min.css' %}">
	<!-- Elegant Icons -->
	<link rel="stylesheet" type="text/css" href="{% static 'profito/fonts/eleganticons/et-icons.css' %}">
	<!-- Main style -->
	<link rel="stylesheet" type="text/css" href="{% static 'profito/css/cardio.css' %}">
</head>

<body>
	<div class="preloader">
		<img src="{% static 'profito/img/loader.gif' %}" alt="Preloader image">
	</div>
	<nav class="navbar">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><h3 style="color:purple;"><strong>Profito</strong></h3></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right main-nav">
				<h3 class="white">{{request.user.username}}</h3>

				{% if request.user.is_authenticated %}
					<li><a href="{% url 'logout' %}">Logout</a></li>
				{% else %}
					<li><a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue">Sign Up/in</a></li>
				{% endif %}

				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<header id="intro">
		<div class="container">
			<div class="table">
				<div class="header-text">
					<div class="row">
						<div class="col-md-12 text-center">
							<h3 class="light white">A Decentralized platform for Advertisement</h3>
							<h2 class="white typed">Advertise , Earn and make your friends Earn </h2>
							<span class="typed-cursor">|</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section>
		<div class="cut cut-top"></div>
		<div class="container">
			<div class="row intro-tables">
				<div class="col-md-4">
					<div class="intro-table intro-table-first">
						<h5 class="white heading">Current Coin Value</h5>
						<div class="owl-carousel owl-schedule bottom">
							<div class="item">
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Dollar (USA)</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">$ 30</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Rupees (India)</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">₹ 180</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Dinnar (UAE)</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">دينار‎ 70</h5>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Early Exercise</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">8:30 - 10:00</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Muscle Building</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">8:30 - 10:00</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Cardio</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">8:30 - 10:00</h5>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Early Exercise</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">8:30 - 10:00</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Muscle Building</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">8:30 - 10:00</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Cardio</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">8:30 - 10:00</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="intro-table intro-table-hover">
						<h5 class="white heading hide-hover">Premium Membership</h5>
						<div class="bottom">
							<h4 class="white heading small-heading no-margin regular">Register Today</h4>
							<h4 class="white heading small-pt">Get 20 coins Free</h4>
							<a href="#" class="btn btn-white-fill expand">Register</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="intro-table intro-table-third">
						<h5 class="white heading">Happy Clients</h5>
						<div class="owl-testimonials bottom">
							<div class="item">
								<h4 class="white heading content">I couldn't be more happy with the results!</h4>
								<h5 class="white heading light author">Adam Jordan</h5>
							</div>
							<div class="item">
								<h4 class="white heading content">I can't believe how much better I feel!</h4>
								<h5 class="white heading light author">Greg Pardon</h5>
							</div>
							<div class="item">
								<h4 class="white heading content">Incredible transformation and I feel so healthy!</h4>
								<h5 class="white heading light author">Christina Goldman</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="services" class="section section-padded">
		<div class="container">
			<div class="row text-center title">
				<h2>Services</h2>
				<h4 class="light muted">Here , You can make money and help your friends to make money by Advertisement of comapany ,
				any organisation , College Fest and many more.</h4>
			</div>
	</section>
	<section id="team" class="section gray-bg">
		<div class="container">
			<div class="row title text-center">
				<h2 class="margin-top">Available Companies</h2>
				<h4 class="light muted">You can choose company for advertisement according to scheems</h4>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="team text-center">
						<div class="cover" style="background-size:cover;">
						<img src="{% static 'profito/img/team/team-cover1.jpg' %}">
						</div>
						<br><br>
						<a href="{% url 'ads' %}" class="btn btn-blue-fill ripple">Industrial</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="team text-center">
						<div class="cover" style="background-size:cover;">
						<img src="{% static 'profito/img/team/team-cover2.jpg' %}">
						</div>
						<br><br>
						<a href="{% url 'ads' %}" class="btn btn-blue-fill ripple">Educational</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="team text-center">
						<div class="cover" style="background-size:cover;">
						<img src="{% static 'profito/img/team/team-cover3.jpg' %}">
						</div>
						<br><br>
						<a href="{% url 'ads' %}" class="btn btn-blue-fill ripple">Government</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--facebook iframe for sharing-->
	 <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!-- Your share button code -->
  <div class="fb-share-button"
    data-href="https://www.your-domain.com/your-page.html"
    data-layout="button_count">
  </div>
	<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
				<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>


				<form class="popup-form" id="lr_form" action="{% url 'signup' %}" method="post">
					{% csrf_token %}
					<input type="text" class="form-control form-white" name="email" placeholder="Email Address" required>
					<input type="text" class="form-control form-white" name="password" placeholder="Password" >
					<input type="text" class="form-control form-white" name="address" placeholder="Wallet Address" >
					<div class="checkbox-holder text-left">
						<div class="checkbox">
							<input type="checkbox" value="None" id="squaredOne" name="check" />
							<label for="squaredOne"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>
						</div>
					</div>
					<button type="submit" id="submit_btn" class="btn btn-submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 text-center-mobile">
					<h3 class="white">Start Earning!</h3>
					<h5 class="light regular light-white">Sign up and get 20 coins to start and Earn more</h5>
					<a href="#" class="btn btn-blue ripple trial-button">Start Earning</a>
				</div>
				<div class="col-sm-6 text-center-mobile">
					<h3 class="white">Value Statics <span class="open-blink"></span></h3>
					<div class="row opening-hours">
						<div class="col-sm-6 text-center-mobile">
							<h5 class="light-white light">Yesterday</h5>
							<h3 class="regular white"> $90 - $120</h3>
						</div>
						<div class="col-sm-6 text-center-mobile">
							<h5 class="light-white light">Today</h5>
							<h3 class="regular white">$80 - $110</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row bottom-footer text-center-mobile">
				<div class="col-sm-8">
					<p>&copy; 2018 All Rights Reserved.<a href="">MNNIT Allahabad</a> exclusively for <a href="">Hack36</a></p>
				</div>
				<div class="col-sm-4 text-right text-center-mobile">
					<ul class="social-footer">
						<li><a href="http://www.facebook.com/pages/Codrops/159107397912"><i class="fa fa-facebook"></i></a></li>
						<li><a href="http://www.twitter.com/codrops"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://plus.google.com/101095823814290637419"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- Holder for mobile navigation -->
	<div class="mobile-nav">
		<ul>
		</ul>
		<a href="#" class="close-link"><i class="arrow_up"></i></a>
	</div>
	<!-- Scripts -->
	<script src="{% static 'profito/js/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'profito/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'profito/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'profito/js/wow.min.js' %}"></script>
	<script src="{% static 'profito/js/typewriter.js' %}"></script>
	<script src="{% static 'profito/js/jquery.onepagenav.js' %}"></script>
	<script src="{% static 'profito/js/main.js' %}"></script>


<script type="text/javascript">
</script>


</body>

</html>
